/* ==========================================================================
   APIDocs
   ========================================================================== */

.apidocs {
    font-size: 16px;
	line-height: 1.3;
}


.apidocs h1 {
    font-size: 2em;
}

.apidocs h2 {
    font-size: 1.3em;
}

.tiny-text {
	font-size: 13px;
	padding: 5px
}

.tiny-text a {
	font-size: 13px;
}

.apidocs code {
    font-size: 13px;
	line-height: 1.2;
}

.params__table {
	display: table;
}

.params__type {
    width: 30%;
}

.params__name {
    width: 35%;
}